body {
    background-image: url(https://ak.picdn.net/shutterstock/videos/1008778427/thumb/1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.container{
    margin-top: 50px;
}
h2 {
    color: teal;
    font-weight: bold;
}
hr {
    background-color: white
}
.card {
    float: left;
    margin-right: 1em;
}
#aboutP {
    color: white;
    padding-left: 20px;
}
img{
    width:150px;
    height: 150px;
    margin-right: 15px;
    border: 5px;   
}
.firstClass{
    float: left;
}
